.header{
    height: 80px;
    border: 5px solid #F7F8F9;
}

.header>h1{
    color: #1D2226;
   margin: 25px;
   font: normal normal normal 18px/21px Rubik;
   text-transform: capitalize;
   text-align: left;
   top: 27px;
   left: 15px;
   width: 146px;
   height: 22px;
   opacity: 1;
   
}

.main{
    margin-left: 20px;
}

.pic{
    height: 80px;
    margin-top: 20px;
}

.img{
    height: 25px;
    margin-left: -20px;
}

h3{
    margin-left: 35px;
    margin-top: -75px;
    font-size: 18px;
    height: 30px;
    width: 50%;
    text-align: center;
    font: normal normal medium 15px/19px Rubik;
    color: #1D2226;
}

.main>h2{
    text-align: left;
    font: normal normal normal 14px/19px Rubik;
    color: #1D2226;
    text-transform: capitalize;
    margin-top: -5px;
    height: 20px;
    float: left;
    margin-right: 1000px;
    margin-left: 91px;
}

.paragh{
    margin-top: 80px;
    height: 100px;
    justify-content:center;

}

.paragh>p{
    width: 90%;
    margin-left: 20px;
    color: #1D2226;
}